<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<style>
	body,
	html {
		background: #262626;
		color: #e4e4e4;
		font-family: sans-serif;
	}
</style>

<title>PHPStan Playground</title>

{include content}

<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
