parameters:
	phpBin: php
	phpStanDir: %appDir%/../phpstan
	dataDir: %appDir%/../data

	versions:
		labelsBlacklist:
			- '0.1'
			- '0.2'
			- '0.2.1'
			- '0.2.2'
			- '0.3'
			- '0.3.1'
			- '0.4'
			- '0.4.1'
			- '0.4.2'

		pullRequestOwnersWhitelist:
			- JanTvrdik
			- ondrejmirtes
			- phpstan

	config:
		topLevelKeysWhitelist:
			- parameters

		parameterKeysWhitelist:
			- checkArgumentsPassedByReference
			- checkFunctionArgumentTypes
			- checkNullables
			- checkThisOnly
			- checkUnionTypes
			- earlyTerminatingMethodCalls
			- ignoreErrors
			- polluteCatchScopeWithTryAssignments
			- polluteScopeWithLoopInitialAssignments
			- reportUnmatchedIgnoredErrors
			- universalObjectCratesClasses


nette.application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


services:
	# app
	- App\Model\PhpStanInstaller(
		tempDir: %tempDir%/downloads
		targetDir: %phpStanDir%
	)
	- App\Model\PhpStanVersions(
		dataDir: %dataDir%
		usersWhitelist: %versions.pullRequestOwnersWhitelist%
		versionsBlacklist: %versions.labelsBlacklist%
	)
	- App\Model\PhpStanAnalyzer(
		phpBin: %phpBin%
		phpStanDir: %phpStanDir%
		dataDir: %dataDir%
	)
	- App\Model\CodeSanitizer
	- App\Model\CodeValidator
	- App\Model\ConfigValidator(
		topLevelKeysWhitelist: %config.topLevelKeysWhitelist%
		parameterKeysWhitelist: %config.parameterKeysWhitelist%
	)


	# nette/application
	- App\RouterFactory::createRouter()


	# milo/github-api
	- Milo\Github\Api


	# nikic/php-parser
	- PhpParser\Lexer
	- PhpParser\Parser\Php7
	- PhpParser\PrettyPrinter\Standard

	# sensiolabs/ansi-to-html
	- SensioLabs\AnsiConverter\Theme\SolarizedXTermTheme
	- SensioLabs\AnsiConverter\AnsiToHtmlConverter
