parameters:
	phpBin: php
	phpStanDir: %appDir%/../phpstan
	dataDir: %appDir%/../data

	usersWhitelist:
		- JanTvrdik
		- ondrejmirtes
		- phpstan

	configWhitelist:
		topLevelKeys:
			- parameters

		parameterKeys:
			- checkArgumentsPassedByReference
			- checkFunctionArgumentTypes
			- checkNullables
			- checkThisOnly
			- checkUnionTypes
			- earlyTerminatingMethodCalls
			- ignoreErrors
			- polluteCatchScopeWithTryAssignments
			- polluteScopeWithLoopInitialAssignments
			- reportUnmatchedIgnoredErrors
			- universalObjectCratesClasses


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


services:
	# app
	- App\Model\PhpStanInstaller(
		tempDir: %tempDir%/downloads
		targetDir: %phpStanDir%
	)
	- App\Model\PhpStanVersions(
		dataDir: %dataDir%
		usersWhitelist: %usersWhitelist%
	)
	- App\Model\PhpStanAnalyzer(
		phpBin: %phpBin%
		phpStanDir: %phpStanDir%
		dataDir: %dataDir%
	)
	- App\Model\CodeSanitizer
	- App\Model\CodeValidator
	- App\Model\ConfigValidator(
		topLevelKeysWhitelist: %configWhitelist.topLevelKeys%
		parameterKeysWhitelist: %configWhitelist.parameterKeys%
	)


	# nette/*
	@Nette\Application\IRouter: App\RouterFactory::createRouter()


	# milo/github-api
	- Milo\Github\Api


	# nikic/php-parser
	- PhpParser\Lexer
	- PhpParser\Parser\Php7
	- PhpParser\PrettyPrinter\Standard

	# sensiolabs/ansi-to-html
	- SensioLabs\AnsiConverter\Theme\SolarizedXTermTheme
	- SensioLabs\AnsiConverter\AnsiToHtmlConverter
