services:
	-
		class: Aws\CloudWatchLogs\CloudWatchLogsClient
		arguments:
			args: %aws%

	-
		class: App\System\Logging\CloudWatchHandlerFactory
		arguments:
			enabled: %cloudWatchEnabled%
			ecsInstanceId: %ecsInstanceId%

	-
		class: Symfony\Component\EventDispatcher\EventDispatcher
		setup:
			- addSubscriber(@consoleHandler)

	cloudWatchLogger:
		class: Monolog\Logger
		arguments:
			name: CloudWatch
			handlers:
				- @App\System\Logging\CloudWatchHandlerFactory::create()
				- @consoleHandler

	consoleHandler:
		class: Symfony\Bridge\Monolog\Handler\ConsoleHandler
		arguments:
			verbosityLevelMap:
				32: 200 # NORMAL: INFO

	tracy.logger:
		class: App\System\Logging\TracyLogger
		arguments:
			localDirectory: %logDirectory%
			remoteDirectory: %remoteLogDir%
			errorLogger: @cloudWatchLogger
